.villa-container {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 70vh;
  padding: 20px;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
